<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" /> 
    <title>Something with Flix</title>
  </head>
  <body>


    <div id="nav-bar">
      <h1 style="text-align:center;"> Our really great name </h1>
    </div>

  

    <a href="/login" class="login">Login/Signup</a>

    </div>
 

    
    <div id="main_container">
      <div id="video_frame">
      Video Frame
      </div>

      <div id="control_container">
        <h2>
        Your Categories: </h2><br>
         <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
        <input type="checkbox" /> This is checkbox <br />
      </div>

      <div id="next">

        Next

      </div>
      <div id="prev">

      Previous

      </div>
      <a href="#" class="shareButton">Share</a>
     

    </div>
  
    <div id="footer">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        
      </ul>
    </div>
  </body>
</html>