
<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" /> 
    <title>Something with Flix</title>
  </head>
  <body>


    <div id="nav-bar">
      <h1 style="text-align:center;"> Our really great name </h1>

    </div>
    <% if @current_user.nil? %>
      <%= link 'Login/Signup', '/signup', :class=>'login' %>
    <% else %>
      <%= link @current_user.first_name, '/profile' ,:class=>'name'%>
      <%= link 'logout', '/logout', :class=>'login' %>
    <% end %>

    <div id="main_container">
      <%= yield %>
    </div>

    <div id="footer">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        
      </ul>
    </div>
  </body>
</html>
