<html>
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" /> 
    <title>Something with Flix</title>
  </head>
    <body>
        <div id="nav-bar">
            <h1 style="text-align:center;"> Our really great name </h1>
        </div>

        <div id="main_container">
    
            <div class="login-screen">
              <h2>Login to Web App</h2>
              <form method="post" action="/login">
                <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
                <p><input type="password" name="password" value="" placeholder="Password"></p>
                <p class="submit"><input type="submit" name="commit" value="Login"></p>
              </form>
            </div>

            <div class="login-help">
              <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
            </div>
       
        </div>

    <div id="footer">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        
      </ul>
    </div>
    </body>
</html>