
    
<div class="login-screen">
    <h2>Login to Web App</h2>
    <p>
        <%= form('/login', :post) %>
        <br>
        Email Address: <%= input(:user, :email, :size => 40) %>
        <br>
        Password: <%= password(:user, :password) %>
        <br>

        <%= submit %>
    </p>
</div>

<div class="login-help">
  <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
</div>


